{
    "{{ ansible_enp0s8.ipv4.address }}": {
        "address": "{{ ansible_enp0s8.ipv4.address }}",
        "visible": true,
        "color": "{{ ['blue', 'yellow', 'orange', 'red', 'pink', 'brown', 'magenta', 'dark green'] | random }}",
        "user": "root"
    }
}
